.login-page {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* height:100% del alto de la ventana */
  /* width: 100vw; 100% del ancho de la ventana */
  /*background-image: url('../img/fondocarretera.jpg');*/
  background-color: var(--color-7);
  background-size: cover;
  /* Asegúrate de que cubra toda el área */
  background-position: center;
  /*gap: 0px;*/
}

.signiin-page {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* height:100% del alto de la ventana */
  /* width: 100vw; 100% del ancho de la ventana */
  /*background-image: url('../img/fondocarretera.jpg');*/
  background-color: var(--color-7);
  background-size: cover;
  /* Asegúrate de que cubra toda el área */
  background-position: center;
  /*gap: 0px;*/
}



.tituloLogin {
  color: var(--color-1);
  font-size: 1.8rem;

}

.parrafoLogin {
  color: var(--color-8);
  font-size: medium;
  /*position: absolute; Lo posiciona con respecto a su contenedor padre */
  /*top: 15%;  Lo coloca en la parte superior */
  /*left: 50%;  Lo centra horizontalmente */
  /*transform: translateX(-50%); /* Ajuste para centrar completamente */
  text-align: center;
  /* Centra el texto */
  font-weight: bold;
}


.modalIniciarSesion {
  width: 90vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  text-align: center;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.8);
  z-index: 0;
  /*background-color: var(--color-7);*/
  /* background-color: var(--color-1);*/
  background-image: url('../img/nuevologinsinconsola.jpg');
  /*background-size: 725px 850px;*/
  background-repeat: no-repeat;
  background-position-x: 0;
  background-size: cover;
}


.btn2Login {
  background: none !important;
  /* Elimina el fondo */
  border: none !important;
  /* padding: 0;*/
  color: var(--color-1);
  /* Color del texto */
  font-size: 16px;
  /* Tamaño del texto */
  text-decoration: underline;
  /* Subrayado, para enlace */
  cursor: pointer;
  /* Cambia el cursor a "manito" al pasar por encima */
  /* margin-bottom: 0px;*/
  /* position: relative;*/
  /* top: -70px;*/
}


.formLogin,
.formDos {

  width: 150%;
  max-width: 450px;
  height: auto;
  position: relative;
  top: 22px;
  left: 15px;
  /*background-color: var(--color-6);*/
  padding: 30px;
  /*margin-right: 50px;*/
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 25px;

}

.formLogin {
  width: 115%;
  left: 15px;
}

.formDos {
  top: -52px;
  left: px;
}



/*.formulario,*/
.formularioDos {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
  background: rgba(255, 255, 255, 0.05);
  /* Fondo semitransparente */
  backdrop-filter: blur(5px);
  /* Desenfoque del fondo detrás */
  -webkit-backdrop-filter: blur(25px);
  /* Para compatibilidad con navegadores WebKit */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra sutil */
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* Borde para realzar el efecto de vidrio */
  z-index: 6;
  border-radius: 12px;
  position: relative;
  top: 100 px;
  /*con esto se mueve todo el formulario vidrio y consola juntos eje y*/
  left: 150px;
  /*con esto se mueve todo el formulario vidrio y consola juntos eje X*/
  width: auto;

}

.formDos,
.formLogin {
  border: red solid 1px;
}

.formularioDos {
  border: black solid 1px;
  left: 160px;
}

/* ubicacion componente ============Start-sotp boton solo se ubica desde singiin.css==================*/

.button-container {
  position: absolute;
  top: 10px;
  left: 45px;

}

/*=========================================================================================*/

.inputA {
  /*width: 100%;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 30px;*/
  width: 95%;
  font-size: 16px;
  border: 1px solid var(--color-1);
  border-radius: 4px;
  padding: 4px;
  /* Ajusta este valor según tus necesidades */
  /*box-sizing: border-box;*/
  transition: border-color 0.3s;
  gap: 15px;
}

.input:focus {
  border-color: var(--color-3);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btnLogin, .btn2 {
  padding: 10px 20px;
  margin: 10px;
  z-index: 2;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
  background: rgba(255, 255, 255, 0.05);
  /* Fondo semitransparente */
  backdrop-filter: blur(5px);
  /* Desenfoque del fondo detrás */
  -webkit-backdrop-filter: blur(25px);
  /* Para compatibilidad con navegadores WebKit */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra sutil */
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* Borde para realzar el efecto de vidrio */
  z-index: 2;
  border-radius: 12px;
  color: var(--color-8);
  /*background-color: var(--color-3);*/
  /*color: var(--color-1);*/
  /* border: none;*/
  /*border-radius: 5px;*/
  /*cursor: pointer;*/
}

.btn2 {
  padding: 10px 20px;
  margin: 10px;
  background-color: var(--color-1);
  color: var(--color-1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn2:hover {
  background-color: var(--color-4);
}
.consola{
  /*451 470 96 2*/
  width: 100%;
  height: 248px;
  background-image:url('../img/consola.png');
  z-index: 1;
  /*background-position-x:-736px;*/
  background-position-y: -210px;
  background-position-x: -35px ;
  background-size: 450px 450px;
  background-repeat: no-repeat;
  /*border: red solid 1px;*/
  position:relative;
  border-radius: 14%;
  top: 7%;
  left: 5%;

}

/*.btn:hover {
  background-color: var(--color-3);
}
*/
/*========================================================================================================*/
/*RESPONSIVE*/

/* Responsividad para dispositivos pequeños 
@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
    Los divs se apilan verticalmente 
  }


}*/
/*===============*/
.containerHeader {
  width: 100%;
  height: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
}

.arribaLogin {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  /* outline: 3px solid rgb(26, 255, 0);*/
  justify-content: space-evenly;
  align-items: center;
  gap: 18px;
}

.centroLogin {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35vh;
  justify-content: space-around;
  /* outline: 3px solid rgb(0, 229, 255);*/
}

.ladoIzquierdo {
  width: 50%;
  height: 100%;
}

.ladoDerecho {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}

.abajoLogin {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /*outline: 3px solid rgb(255, 0, 217);*/
}

.contenidoInput {
  padding: 25px;
  margin-top: 25px;
  height: 30px;
  border-top: 0;
  /*margin: 0;*/
  position: relative;
  left: -55px;
  top: -30px;
}

.contenidoInputB {
  padding: 25px;
  margin-top: 25px;
  height: 30px;
  border-top: 0;
  /*margin: 0;*/
  position: relative;
  left: -55px;
  top: -30px;
}

.closeButton {
  width: 150px;
  height: 50px;
  background-color: var(--color-7);
  /* Color de fondo rojo para que sea evidente */
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, transform 0.1s;
}

.closeButton::before {
  
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--color-1);
  border-right: 2px solid var(--color-1);
  transform: rotate(0deg);
  position: absolute;
}

.closeButton:hover {
  background-color: var(--color-8);
  /* Color más oscuro al pasar el mouse */
  transform: scale(1.05);
  color: var(--color-1);
}

.closeButton:active {
  background-color: var(--color-6);
  /* Color aún más oscuro al hacer clic */
  transform: scale(0.95);
  /* Efecto de hundimiento al hacer clic */
}

.inputA {
  /*width: 100%;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 30px;*/
  width: 88%;
  font-size: 16px;
  border: 1px solid var(--color-1);
  border-radius: 4px;
  padding: 4px;
  /* Ajusta este valor según tus necesidades */
  /*box-sizing: border-box;*/
  transition: border-color 0.3s;
  gap: 15px;

}


/*Diseño Responsivo*/



/* Teléfonos pequeños */
@media (min-width: 320px) and (max-width: 359px) {
  /* Estilos para teléfonos pequeños */
}

/* Teléfonos estándar */
@media (min-width: 360px) and (max-width: 389px) {
  /* Estilos para teléfonos estándar */
}

@media (min-width: 390px) and (max-width: 411px) {
  /* Estilos para dispositivos con 390px */
}

@media (min-width: 412px) and (max-width: 539px) {
  /* Estilos para dispositivos con 412px */
}

/* Phablets o teléfonos grandes */
@media (min-width: 540px) and (max-width: 599px) {
  /* Estilos para phablets */
}

@media (min-width: 600px) and (max-width: 767px) {
  /* Estilos para phablets o teléfonos grandes */
}

/* Tablets en orientación vertical y teléfonos grandes */
@media (min-width: 768px) and (max-width: 911px) {
  /* Estilos para tablets en vertical */
}

@media (min-width: 912px) and (max-width: 991px) {
  /* Estilos para tablets grandes o teléfonos muy grandes */
}

/* Tablets en orientación horizontal */
@media (min-width: 992px) and (max-width: 1023px) {
  /* Estilos para tablets en horizontal */
}

/* Pantallas grandes (desktop) */
@media (min-width: 1024px) and (max-width: 1279px) {
  .login-page {
    outline: 1px solid red;
  }

.formLogin, .formDos {
  width: 150%;
  max-width: 450px;
  height: 199%;
  position: relative;
  top: 13%;
  left: 26%;
  padding-top:19%;
  padding-right: 5%;
  margin-top: -21%;
  margin-left: -15%;
  border-radius: 5%;
  /*outline: 1px solid rgb(0, 208, 255);*/
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
 
}
.contenidoInput {
  padding-right: 5%;
  padding-bottom: 2%;
  margin-top: 25px;
  margin-left: 10%;
  height: 30px;
  width:100%;
  border-top: 0;
  position: relative;
  left: -55px;
  top: -65px;
  /* outline: 1px solid rgb(255, 0, 234);*/
}
.consola {
  top: 1%;
  left: 5%;
  border-radius: 9%;
}

.abajoLogin {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  /*outline: 3px solid rgb(255, 0, 217);*/
}

}

/* Pantallas extra grandes */
@media (min-width: 1280px) and (max-width: 1365px) {
  /* Estilos para pantallas extra grandes */
   /* Estilos para pantallas extra grandes */
   .login-page {
    outline: 1px solid rgb(238, 255, 0);
  }

.formLogin, .formDos {
  width: 150%;
  max-width: 450px;
  height: 158%;
  position: relative;
  top: 46%;
  left: 43%;
  padding-top:19%;
  padding-right: 5%;
  margin-top: -21%;
  margin-left: -15%;
  border-radius: 5%;
  /*outline: 1px solid rgb(0, 208, 255);*/
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
 
}
.contenidoInput {
  padding-right: 5%;
  padding-bottom: 2%;
  margin-top: 25px;
  margin-left: 10%;
  height: 30px;
  width:100%;
  border-top: 0;
  position: relative;
  left: -55px;
  top: -65px;
  /* outline: 1px solid rgb(255, 0, 234);*/
}
.consola {
  top: 7%;
  left: 5%;
  border-radius: 14%;
}

.abajoLogin {
  display: flex;
      flex-direction: row;
  justify-content: flex-start;

  /*outline: 3px solid rgb(255, 0, 217);*/
}
}

/* Laptops pequeñas o pantallas estándar */
@media (min-width: 1366px) and (max-width: 1535px) {
  /* Estilos para laptops pequeñas */
  .abajoLogin {
 
    justify-content: flex-start;
  
    /*outline: 3px solid rgb(255, 0, 217);*/
  }
}

/* Pantallas ultra grandes */
@media (min-width: 1536px) {
  /* Estilos para pantallas ultra grandes */
}





